<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Machines</title>
    <link href="/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <%- include('machine-add', formData); %>
    <%- include('machine-table', machineData); %>
  </body>
</html>
